#HomePage {
	.Header{
		
		img {
			height: 100vh;
			width: 100%;
		}

		.BookNow {
			text-decoration: none;
			

			div {
				background-color: rgba($color: #E3E3E3, $alpha: .7);
				opacity: 0.9;
				border-radius: 12px;

				h1 {
					font-family: $font-family;
					color: #262939;
					
					span {
						font-weight: bold;
					}
				}

				h3{
					font-family: $font-family;
					color: #262939;

				}
			}
		}
	}
}